<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.AspNet.Mvc" version="3.0.20105.1" targetFramework="net452" />
  <package id="Microsoft.AspNet.Razor" version="1.0.20105.408" targetFramework="net452" />
  <package id="Microsoft.AspNet.WebPages" version="1.0.20105.408" targetFramework="net452" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net452" />
  <package id="Portable.BouncyCastle" version="1.8.0" targetFramework="net452" />
  <package id="Portable.JWT" version="1.0.5" targetFramework="net452" />
  <package id="Twilio" version="5.0.0-rca2" targetFramework="net452" />
</packages>